Jinja2
MarkupSafe
Pillow
Pygments
QtPy
Send2Trash
appnope
attrs
backcall
bleach
cycler
decorator
defusedxml
entrypoints
future
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
opencv-python
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pip
prometheus-client
prompt-toolkit
ptyprocess
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
scikit-learn
scipy
setuptools
six
sklearn
sp
terminado
testpath
torch
torchvision
tornado
tqdm
traitlets
wcwidth
webencodings
widgetsnbextension
zipp